/* css reset */
*{
    margin: 0;
    padding: 0;
   
}


html{

scroll-behavior: smooth;

}


/* css variables */
:root{
    --navbar-height:60px;
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;

}
/* navigation bar :logo and image */
#logo{
    height: 55px;
    margin: 26px 38px;
   

}
#logo img{
   
    height: 74px;
    margin: -13px -15px
}


/* naviagtion bar:list styling */


 #navbar ul{
    display: flex;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: .8;

}

#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
   display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;


}


/* HOME SECTION */

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 530px;
    justify-content: center;
    align-items: center;


}
#home::before {

    content: "";
    position: absolute;
    top: 0%;
    left: 0px;
    background:url('bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 85%;
    width: 100%;
    z-index: -2;
    opacity: .9;     
}

 #home h1{
     color: white;
     text-align: center;
     font-family: 'Rowdies', cursive; 
 }
 #home p{
    color: white;
    text-align: center; 
    font-size: 1.4rem;
    font-family: 'Bree Serif', serif;
    
}
/* serivices section */

#services{
    margin: 34px;
    display: flex;

}
#services .box{
border: 2px solid brown;
padding: 34px; ;
margin: 15px 60px;
border-radius: 28px;
background-color: rgb(240, 245, 248);


}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif
}

/* clients section */
#client-section{
    /* height: 344px; */
    position: relative;
}
#client-section::before{
    content:"";
    position: absolute;
    background: url('../bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
}
#clients{
display: flex;
justify-content: center;
align-items: center;
}
.clients-item{
    padding: 34px;

}
 #clients img{
   height: 130px; 
     } 

  /* contacts section   */

  #contact{
    position: relative;

  }
 #contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .7;
    background: url('../contact.jpg') no-repeat center center/cover;

    
  }
  #contact-box{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;

  }
  #contact-box form{
width: 40%;
  }

  #contact-box label{
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }


#contact-box input,
#contact-box textarea{
    width: 100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size: .9rem;
}







footer{
    background-color: black;
    color: white;
    padding: 12px;

}







/* utiliti classes */
.h-primary{
 
    font-family: 'Bree Serif', serif;   
     font-size: 3.8rem;
     padding: 12px;
     /* color: white; */


}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}


.btn{
    padding: 6px 20px ;
    border: 2px solid white;
    background-color: rgb(247, 140, 17);
    color: black;
    margin: 17px ;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}
.center{
    text-align: center;
}















































